*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.card-hover{
    transition: 1s linear;
}
.card-hover:hover{
    transform: translateY(-5%);
    background:#8BDBF5;
    color: white;
}
.sec-5-row{
    width: 75%;
}